/************************************ FONTS ************************************/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(https://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);
/* entypo */
[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}
@font-face {
  font-family: "icomoon";
  src: url("https://jlalovi-cv.herokuapp.com/font/icomoon.eot");
  src: url("https://jlalovi-cv.herokuapp.com/font/icomoon.eot?#iefix")
      format("embedded-opentype"),
    url("https://jlalovi-cv.herokuapp.com/font/icomoon.ttf") format("truetype"),
    url("https://jlalovi-cv.herokuapp.com/font/icomoon.woff") format("woff"),
    url("https://jlalovi-cv.herokuapp.com/font/icomoon.svg#icomoon")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

/************************************* END FONTS *************************************/

* {
  box-sizing: border-box;
}

body {
  background: whitesmoke;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  font-size: 15px;
}
a:hover {
  text-decoration: underline;
}

a,
span {
  color: #fff;
}
.scnd-font-color {
  color: slategrey;
}

.horizontal-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.horizontal-list li {
  float: left;
}

.icon {
  font-size: 25px;
}

.App {
  width: 80%;
  margin: 10px auto;
  height: 800px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

/*********************************************** HEADER ***********************************************/
header {
  height: 50px;
}
.header-contain {
  width: 50%;
  margin: 0 auto;
}
.header-menu {
  margin: 0, auto;
  font-size: 17px;
  line-height: 80px;
}
.header-menu li {
  position: relative;
}
.header-menu-tab {
  padding: 0 7px;
  display: block;
  line-height: 50px;
  font-size: 17px;
}

.header-menu-tab:hover {
  text-decoration: none;
}

.header-menu-tab .icon {
  padding-right: 15px;
}

.header-menu li:hover .header-menu-number {
  text-decoration: none;
  transform: rotate(360deg);
}
.profile-menu {
  float: right;
  height: 80px;
  padding-right: 20px;
}
.profile-menu p {
  font-size: 17px;
  display: inline-block;
  line-height: 76px;
  margin: 0;
  padding-right: 10px;
}
.profile-menu a {
  padding-left: 5px;
}
.profile-menu a:hover {
  text-decoration: none;
}
.small-profile-picture {
  display: inline-block;
  vertical-align: middle;
}

.block {
  margin: 0, auto;
  background: #3d5c99;
}

.ProfileCard {
  text-align: center;
  position: relative;
}

.Profilephoto {
  width: 150px;
  height: 150px;
  border-radius: 50% 50%;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  position: relative;
}

.ProfileCard-container {
  position: absolute;
  width: 25%;
  height: 400px;
  background-color: #3d5c99;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 5px;
}
p,
h2,
h3 {
  color: white;
  font-family: "icomoon";
}
.button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #7ecde8;
  border: none;
  border-radius: 10px;
  box-shadow: 0 7px #999;
}

.button:hover {
  background-color: #7ecde8;
}

.button:active {
  background-color: #7ecde8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
